[flake8]
max-line-length = 100
extend-ignore = E203, E266, E501, W503
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info,
    .mypy_cache,
    .pytest_cache
max-complexity = 15
per-file-ignores =
    __init__.py:F401
    apps/api/app/api/v1/*.py:E402,F401,F841,B008
    apps/api/app/core/init_db.py:F401
